# Created by .ignore support plugin (hsz.mobi)
.gitignore
__pycache__/
bin/
docs/
search/__pycache__/
search/build/
search/dist/
search/main.spec
.idea/
.idea/encodings.xml
search/search.spec
/search/.main.spec
/build/setup/
/setup.spec
